<div class="row p-4">

    <div class="col-4 w-100">
      <div class="row w-100">
        <div class="alert alert-primary w-100 d-flex justify-content-center">
          <strong>Nueva Ruta de Viaje</strong>
        </div>
        <%= form_with url: travels_url, id: "rvform", class:"w-100 border rounded shadow p-3 mb-5 bg-white" do |form| %>
          <%= form.label :titulo %>
          <%= form.text_field :title, class: "form-control mb-2" %>

          <%= form.label "Descripción" %>
          <%= form.text_area :description, class: "form-control mb-2" %>
          
          <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Visibilidad</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option value="publica">Publica</option>
                <option value="privada">Privada</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Usuarios</label>
            <div class="col-sm-10">
              <%= select("private", "users", User.all.collect {|u| [ "@"+u.username, u.format_id ] }, {include_blank: ""}, style:"width:100%", name:"users[]", multiple:"multiple") %>
            </div>
          </div> -->
     
          <label >Lugares</label>
          <div id="places-list"></div>

          <%= form.submit "Enviar", id: "submitBtn", class: "btn btn-primary rounded" %>
        <% end %>
      </div>
    </div>

    <div class="col-8" style="height:75vh;">
      <input id="pac-input" class="form-control controls" type="text" placeholder="Buscar">
      <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.apollo_google_maps_key %>&libraries=places&language=es&region=AR"></script>
        <script>
          var line = null;
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false
          });
        </script>
    </div>

</div>


<script>
//Instanciar el select de los usuarios que podran ver la rv privada
$(document).ready(function() {
    $("#private_users").select2({
      width: 'element',
     minimumResultsForSearch: Infinity
   });
});


// tamanio maximo de titulo de place 30 caracteres
// tamanio maximo de description de place fijarse en modelo
var markers = []
const mkMarker = (map, lat, lang, title) => {
  return new google.maps.Marker({
    position: {lat: lat, lng: lang},
    map: map,
    title: title
  })
}

map.addListener('click', e => {
  const m = mkMarker(map, e.latLng.lat(), e.latLng.lng(), "Marker")
  markers.push(m)
  draw_line(map, markers);
  add_place(e.latLng.lat(), e.latLng.lng());
});

map.addListener('mousedown', e => {
  if (e.ua.buttons === 2) {
    removedMarker = markers.pop();
    removedMarker.setMap(null);
    draw_line(map, markers);
    remove_place();
  }
});

const send_rv = () => {
  var rvTitle = $('#title').value
  var rvDesc = $('#description').value
  console.log(rvTitle)
  console.log(rvDesc)

}

const add_place = (lat, lng) => {
  var newPlaceCoords = newPlaceForm(lat, lng);
  var newItem = document.createTextNode(newPlaceCoords);
  $("#places-list").append(newPlaceCoords)
}


const newPlaceForm = (lat, lng) => {
  var node = `
  <div id="place-${markers.length}" class="place-item border rounded p-2 mb-2">
    <input type="hidden" name="places[][latitude]" value="${lat}" />
    <input type="hidden" name="places[][longitude]" value="${lng}" />
    <div class="alert alert-info w-100 d-flex justify-content-center"> Lugar ${markers.length} </div>
    <input id="place-item-title" name="places[][title]" class="form-control mb-2" placeholder="Titulo" type="text" />
    <textarea id="place-item-desc" name="places[][description]" class="form-control mb-2" placeholder="Descripción" type="textarea" />
  </div>
  `
  return node;
}

const remove_place = () => {
  $('div:last-child', $('#places-list')).remove();
}

const draw_line = (map, markers) => {
  line ? line.setMap(null) : null;
  line = new google.maps.Polyline({
    path: markers.map(marker => marker.position),
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  line.setMap(map);
}

const initAutocomplete = (map) => {
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);

    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }


    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', () => searchBox.setBounds(map.getBounds()))

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      if (!place.geometry) {
        console.log("Returned place contains no geometry");
        return;
      }
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      if (place.geometry.viewport) {
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    })
    map.fitBounds(bounds)
});
}


initAutocomplete(map)

</script>
