<div class="row">
    <div class="col-md-8 p-2">
        <div id="rv_map" style="height:75vh;"></div>

        <h3 class="my-2"><%= @travel.title %></h3>
        <p>
            Por <%= link_to user_path(@travel.user_id) do %>
                @<%= @travel.user.username %>
            <% end %>

            <span class="date"> hace <%= time_ago_in_words @travel.created_at %></span>
        </p>

        <p><%= @travel.description %></p>

      <div class="d-flex flex-row-reverse travel-buttons">
        <% comment_class = 'active' if current_user&.comment?(@travel) %>

        <button type="button" class="btn btn-comment btn-link no-decoration <%= comment_class %>">
          <i class="far fa-fw fa-comment"></i>
          <i class="fas fa-fw fa-comment"></i>
          <%= @travel.comments.count %>
        </button>

        <% if current_user.favorite?(@travel) %>
          <%= button_to travel_favorites_path(travel_id: @travel.format_id), method: :delete, class: 'btn btn-favorite btn-link no-decoration active' do %>
              <i class="far fa-fw fa-star"></i>
              <i class="fas fa-fw fa-star"></i>
              <%= @travel.favorites.count %>
          <% end %>
        <% else %>
          <%= button_to travel_favorites_path(travel_id: @travel.format_id), class: "btn btn-favorite btn-link no-decoration" do %>
              <i class="far fa-fw fa-star"></i>
              <i class="fas fa-fw fa-star"></i>
              <%= @travel.favorites.count %>
          <% end %>
        <% end %>
      </div>

        <% @travel.comments.each do |comment| %>
            <%= render partial: "travels/partials/comment",
                    locals: {
                        comment:comment
                    }
            %>
        <% end %>

        <%= form_for :comment, url: travel_comments_path(travel_id: @travel.format_id) do |f|%>
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" maxlength="300" placeholder="Agrear comentario...", required></textarea>
            </div>
            <%= f.submit "Comentar", class:"btn btn-secondary" %>
        <% end %>

    </div>

    <div class="col-md-4 p-2">
        <% @travel.places.each_with_index do |place, index| %>
            <%= render partial: "travels/partials/place",
                    locals: {
                        place:place,
                        index:index
                    }
            %>
        <% end %>
    </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.apollo_google_maps_key %>&libraries=places&language=es&region=AR"></script>
<script>
    var places = <%= @travel.places.map do |place|
                     place.slice(:lat, :lng)
                 end.to_json.html_safe %>;
    var line = null;
    var map = new google.maps.Map(document.getElementById('rv_map'), {
    center: {lat: places[0].lat, lng: places[0].lng},
    zoom: 8,
    zoomControl: true,
    mapTypeControl: false,
    scaleControl: false,
    streetViewControl: false,
    rotateControl: false,
    fullscreenControl: false
    });

    const put_places = () =>
        places.map((place, index) => {
            return new google.maps.Marker({
                position: {lat: place.lat, lng: place.lng},
                map: map,
                label: String.fromCharCode(65 + index)
            })
        });



    const good_markers = put_places();

    const draw_line = (markers) => {
        line ? line.setMap(null) : null;
        line = new google.maps.Polyline({
            path: markers.map(marker => marker.position),
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        line.setMap(map);
    }

    draw_line(good_markers)
</script>
