<div class="row">
    <div class="col-md-8 p-2">
        <%= image_tag @travel.image_public_url, class: 'w-100' %>

        <h3 class="d-inline"><%= @travel.title %></h3>
        <p class="m-0">Por: @<%= @travel.user.username %><span class="date"> el <%= @travel.created_at %></span></p>
        <p><%= @travel.description %></p>
        <div class="actions">
            <button class="btn btn-warning m-2" title="Mandar a favoritos">
                <i class="fas fa-star"></i>
                <span class="cantidad"><%= @travel.favorites.count %>  favoritos</span>
            </button>
            <button class="btn btn-info m-2" title="Comentar">
                <i class="fas fa-comment"></i>
                <span class="cantidad"><%= @travel.comments.count %> comentarios</span>
            </button>
        </div>

        <% @travel.comments.each do |comment| %>
            <%= render partial: "travels/partials/comment",
                    locals: {
                        comment:comment
                    }
            %>
        <% end %>

        <%= form_for :comment, url: travel_comments_path(travel_id: @travel.id) do |f|%>
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" maxlength="300" placeholder="Agrear comentario..."></textarea>
            </div>
            <%= f.submit "Comentar", class:"btn btn-secondary" %>
        <% end %>

    </div>

    <div class="col-md-4 p-2">
        <% @travel.places.each_with_index do |place, index| %>
            <%= render partial: "travels/partials/place",
                    locals: {
                        place:place,
                        index:index
                    }
            %>
        <% end %>    
    </div>

</div>