<div class="row">
  <div class="col-3 mt-2">
    <%= render partial: 'users/partials/user_lateral',
               locals: {
                 user: @user
               }
    %>
  </div>

  <div class="col-7 mt-2">
      <% if flash[:success] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:success] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% @posts.each do |post| %>
        <%= render partial: "posts/partials/#{post.type}_post",
                  locals: {
                    user: @user,
                    post: post
                  }
        %>
      <% end %>
  </div>

  <div class="col-2 mt-2">
    <h6 class="mb-1 text-center">Ultimos viajes creados</h6>
    <% Travel.publicx.where.not(user_id: current_user.id).order(created_at: :desc).first(3).each do |travel| %>
      <div class="card mb-2">
        <div class="card-header p-0">
          <%= image_tag travel.user.image_url, class: 'img-comentario p-2 d-inline' %>
          <%= link_to travel.title, travel_path(travel.format_id), class:"text-dark d-inline text-truncate" %>
        </div>

        <% if travel.description? %>
          <div class="card-body">
            <p class="card-text text-truncate"> <%= travel.description %> </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
