<div class="card shadow-sm">
  <%= image_tag user.image_url, class: 'card-img-top' %>

  <div class="card-body">
    <h5 class="card-title text-dark mb-1">
      <%= user.full_name %>
    </h5>

    <span class="text-muted">@<%= user.username %></span>

    <p class="card-text text-body pt-2">
      <%= user.description %>
    </p>

    <div class="d-flex justify-content-center">
      <% if user.id != current_user.id %>
        <% if current_user.follow?(user) %>
          <%= button_to user_followers_path(user_id: user.format_id), method: :delete, class: 'btn btn-danger' do %>
            <i class="fas fa-user-times mr-1"></i>Dejar de seguir
          <% end %>
        <% else %>
          <%= button_to user_followers_path(user_id: user.format_id), class: 'btn btn-primary' do %>
            <i class="fas fa-user-plus mr-1"></i>Seguir
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <ul class="list-group">
      <!-- <li class="list-group-item active">Cras justo odio</li> -->

      <%= link_to user_travels_path(user_id: user.format_id), class: 'text-dark bg-light no-decoration' do %>
        <li class="list-group-item bg-transparent">
          <i class="fas fa-fw fa-map-marker-alt"></i> Viajes creados

          <span class="badge badge-pill badge-primary">
            <%= user.travels.count %>
          </span>
        </li>
      <% end %>

      <%= link_to user_favorites_path(user_id: user.format_id), class: 'text-dark bg-light no-decoration' do %>
        <li class="list-group-item bg-transparent">
          <i class="fas fa-fw fa-star"></i> Viajes favoritos

          <span class="badge badge-pill badge-primary">
            <%= user.favorites.count %>
          </span>
        </li>
      <% end %>

      <%= link_to user_followings_path(user_id: user.format_id), class: 'text-dark bg-light no-decoration' do %>
        <li class="list-group-item bg-transparent">
          <i class="fas fa-fw fa-user-friends"></i> Seguidos

          <span class="badge badge-pill badge-primary">
            <%= user.followings.count %>
          </span>
        </li>
      <% end %>

      <%= link_to user_followers_path(user_id: user.format_id), class: 'text-dark bg-light no-decoration' do %>
        <li class="list-group-item bg-transparent">
          <i class="fas fa-fw fa-users"></i> Seguidores

          <span class="badge badge-pill badge-primary">
            <%= user.followers.count %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
