<div class="comentario border-top border-bottom">
    <section class="info">
    <div class="d-flex">
        <a class="d-inline"><%= image_tag comment.user.image_url, class: 'img-comentario p-2' %></a>
        <div class="d-inline p-2">
            <a class="d-block">
                <strong class="user-nombre"><%= comment.user.name.to_s + ' ' + comment.user.lastname.to_s %></strong>
            </a>
            Por <%= link_to user_path(comment.user.format_id) do %>
                @<%= comment.user.username %>
            <% end %> hace <%= time_ago_in_words comment.created_at %>
        </div>
    </div>
    </section>

    <section class="p-2">
        <p><%= comment.content %></p>
    </section>
</div>
