<!DOCTYPE html>
<html>
  <head>
    <title>Apollo</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= javascript_include_tag 'moment-with-locales.min.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'new_travel', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <script type="text/javascript">
    moment.locale('es');

    $(function() {
      var $displays = $('.moment-display');

      $displays.each(e => {
        let $e = $($displays[e])
        let time = moment($e.data('time'));
        let text = time.fromNow();
        text = text.charAt(0).toUpperCase() + text.slice(1);
        $e.text(text);
      });
    })
  </script>

  <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-2">
        <% if current_user %>              
          <a class="navbar-brand text-white" href="../home">APOLLO</a>
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav w-100">
                  <li class="nav-item dropdown ml-auto">
                      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong><%= current_user.name %></strong>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <%= link_to "Cerrar sesion", signout_path, id: "sign_out", class:"dropdown-item d-inline text-dark" %>                        
                      </div>
                  </li>
              </ul>
          </div>
        <% else %>
        <a href="/" class="navbar-brand">
            
              <div class="titulo text-white">APOLLO</div>
          </a>
      </a>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav w-100 d-flex justify-content-end">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="nav-item mr-2 page-scroll" href="#about">Acerca de</a>
          </li>
          <li>
            <a class="nav-item mr-2 page-scroll" href="#nosotros">Nosotros</a>
          </li>
          <li>
            <a class="nav-item mr-2 page-scroll" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
      <% end %>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
